<template>
  <div>
      <v-btn @click="open = !open">
        Фильтры
      </v-btn>

      <v-card v-if="open" width="600" class="filters-area">
        <v-card-title class="py-0">
          Фильтры
          <v-spacer/>
          <v-btn icon @click="open = !open">
            x
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12>
              <date-picker
                  label="Дата"
                  v-model="filter.date"
                  css="date-1"
                  :class="{ 'pointer-events-none': !showDate }"
              />
            </v-flex>
            <v-flex xs6>
              <date-picker
                  label="Период начало"
                  css="date-2"
                  v-model="filter.startDate"
                  :class="{ 'pointer-events-none': !showStartAndEndDate }"/>
            </v-flex>
            <v-flex xs6>
              <date-picker
                  label="Период конец"
                  css="date-3"
                  v-model="filter.endDate"
                  :class="{ 'pointer-events-none': !showStartAndEndDate }"/>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
  </div>
</template>

<script>
  import DatePicker from "./DatePicker";
  export default {
    name: "DateFilter",
    components: {DatePicker},
    props: {
      filter: Object
    },
    data () {
      return {
        menuDate: true,
        open: false,
        date: '',
      }
    },
    computed: {
      showDate () {
        return !this.filter.startDate && !this.filter.endDate
      },
      showStartAndEndDate () {
        return !this.filter.date
      }
    }
  }
</script>

<style>
.date-1 > * {
  left: 49px !important;
  top: 113px !important;
}
.date-2 > * {
  left: 49px !important;
  top: 181px !important;
}
.date-3 > * {
  left: 332px !important;
  top: 181px !important;
}

.filters-area {
  position: absolute;
  z-index: 1200;
  right: 7px;
  top: 6px;
}

.pointer-events-none {
  pointer-events: none;
}
</style>
