<template>
  <div>
    <v-menu
        :class="css"
        v-model="menuDate"
        :close-on-content-click="false"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="100px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
            v-model="innerDate"
            :label="label"
            prepend-icon="event"
            clearable
            v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker v-model="innerDate" @input="menuDate = false"></v-date-picker>
    </v-menu>
  </div>
</template>

<script>
  export default {
    name: "DatePicker",
    props: {
      value: String,
      label: String,
      css: String
    },
    data () {
      return {
        menuDate: false,
      }
    },
    computed: {
      innerDate: {
        get () {
          return this.value
        },
        set (newVal) {
          this.$emit('input', newVal)
        }
      }
    },
  }
</script>

<style scoped>

</style>
