<template>
  <v-toolbar color="toolbar darken-1" dark>
    <v-toolbar-side-icon
      @click.stop="nav=!nav"
    />

    <v-spacer></v-spacer>
    <div v-if="isLogged">Вы вошли как {{ user.username }}</div>
    <v-btn
      v-if="isLogged"
      color="white"
      fab depressed flat icon
      @click="logout"
    >
      <v-icon large>logout</v-icon>
    </v-btn>

    <v-menu
      v-if="!isLogged"
      ref="menu"
      :close-on-content-click="false"
      v-model="loginMenu"
      :nudge-right="40"
      lazy
      transition="scale-transition"
      open-on-click
      full-width
      offset-x
      :nudge-width="400"
    >
      <v-btn
        v-if="!isLogged"
        color="white"
        fab depressed flat icon largen
        slot="activator"
      >
        <v-icon large>account_circle</v-icon>
      </v-btn>
      <v-card>
        <v-btn @click="showLogin()" v-show="buttonsShow">Войти</v-btn>
        <v-btn @click="showRegister()" v-show="buttonsShow">Зарегистрироваться</v-btn>
        <login
          v-if="login"
          @loggedIn="loggedIn"
          @fialed="transactionFailed"
          @clear="clear"
        />
        <register
          v-if="register"
          @registered="loggedIn"
          @fialed="transactionFailed"
          @clear="clear"
        />
        <v-alert v-model="failedTransaction" type="error">Операция неудалась, пожалуйста повторите попытку</v-alert>
      </v-card>

    </v-menu>
  </v-toolbar>

</template>

<script>
import auth from '../../utils/auth'
import gql from 'graphql-tag'
import Login from '../login/Login'
import Register from '../login/Register'

export default {
  name: 'Toolbar',
  components: {
    Login,
    Register
  },
  props: {
    value: false
  },
  data () {
    return {
      auth: auth,
      nav: this.value,
      isLogged: false,
      loginMenu: false,
      user: {
        id: 0,
        username: ''
      },
      login: false,
      register: false,
      buttonsShow: true,
      failedTransaction: false
    }
  },
  mounted () {
    this.getCurrentUser()
  },
  methods: {
    logged () {
      this.$apollo.query({
        query: gql`
            query {
              currentUser {
                id
                username
              }
            }
          `
      }).then(({data}) => {
        this.user.id = data.currentUser.id
        this.user.username = data.currentUser.username
        this.logged = true
      })
    },
    loggedIn (user) {
      this.user.id = user.id
      this.user.username = user.username
      this.isLogged = true
    },
    logout () {
      this.$apollo.mutate({
        mutation: gql`
         mutation {
            logout {
              success
            }
          }
        `
      }).then(({data}) => {
        if (data.logout.success) {
          this.user.id = 0
          this.user.username = ''
          this.isLogged = false
        }
      })
    },
    showLogin () {
      this.login = true
      this.buttonsShow = false
    },
    showRegister () {
      this.register = true
      this.buttonsShow = false
    },
    clear () {
      this.login = false
      this.register = false
      this.buttonsShow = true
      this.failedTransaction = false
    },
    transactionFailed () {
      this.failedTransaction = true
    },
    getCurrentUser () {
      this.$apollo.query({
        query: gql`{
          currentUser {
            id
            username
          }
        }`
      }).then(({data}) => {
        if (data.currentUser) {
          this.user.id = data.currentUser.id
          this.user.username = data.currentUser.username
          this.isLogged = true
        }
      })
    }
  },
  watch: {
    loginMenu (newVal) {
      if (!newVal) this.clear()
    },
    value (newVal) {
      this.nav = newVal
    },
    nav (newVal) {
      this.$emit('input', newVal)
    }
  }
}
</script>

<style lang="scss">
.toolbar {
  z-index: 1000;
}
</style>

