<template>
  <v-card width="600" class="indent">
    <v-card-title class="pb-0">
      Добавление файла
      <v-spacer/>
      <v-btn icon @click="closeDialog">
        x
      </v-btn>
    </v-card-title>
    <v-card-text class="pt-2">
      <v-layout v-show="!image">
        <v-flex>
            <input type="file" name="file" ref="input" multiple v-on:change="fileChange($event)"/>
        </v-flex>
      </v-layout>
      <v-layout v-if="image" row wrap>
        <v-flex xs12>
          <v-text-field
              label="Название"
              v-model="photo.name"
          />
        </v-flex>

        <v-flex xs12 v-if="showDate">
          <date-picker
              label="Дата"
              v-model="photo.date"
          />
        </v-flex>

        <v-flex xs6 v-if="showStartAndEndDate">
          <date-picker
              label="Период начало"
              v-model="photo.startDate"
          />
        </v-flex>
        <v-flex xs6 v-if="showStartAndEndDate">
          <date-picker
              label="Период конец"
              v-model="photo.endDate"
          />
        </v-flex>

        <v-flex xs12>
          <div>
            <img width="400" :src="image"/>
          </div>
        </v-flex>

        <v-flex xs12>
          Координаты: {{ point.x.toFixed(4) }}, {{ point.y.toFixed(4) }}
        </v-flex>

        <v-flex xs12>
          <v-textarea
            label="Описание"
            v-model="photo.description"
          />
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-card-actions v-if='image' class="px-4">
      <v-btn small @click="choiceAnotherImage">
        Выбрать другую фотографию
      </v-btn>
      <v-spacer/>
      <v-btn small @click="sendFile" color="green" style="color: white">
        Добавить
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import sendFile from '../graphql/queries/sendFile.gql'
import axios from 'axios'
import authMixin from '../utils/authMixin'
import DatePicker from "./toolbar/DatePicker";

export default {
  name: "AddPhoto",
  components: {DatePicker},
  mixins: [authMixin],
  props: {
    point: Object,
  },
  data () {
    return {
      image: '',
      menuDate: false,
      photo: {
        name: null,
        date: null,
        startDate: null,
        endDate: null,
        description: null,
        file: null
      }
    }
  },
  methods: {
    closeDialog () {
      this.point.statusClick = false
    },
    fileChange (e) {
      this.photo.file = e.target.files[0]
      this.createImage(e.target.files[0])
    },
    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = (e) => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    choiceAnotherImage () {
     this.$refs.input.click()
    },
    sendFile () {
      this.sendFileAxios({
        query: sendFile,
        variables: {
          name: this.photo.name,
          date: this.photo.date,
          startDate: this.photo.startDate,
          endDate: this.photo.endDate,
          x: this.point.x,
          y: this.point.y,
          description: this.photo.description
        },
        files: {
          file: this.photo.file
        }
      })
    },
    sendFileAxios (obj) {
      let form = new FormData()
      form.append('query', obj.query.loc.source.body)
      form.append('variables', JSON.stringify(obj.variables))
      for (var key in obj.files) {
        form.append(key, obj.files[key], obj.files[key].name)
      }
      console.log(this.$cookie.get('csrftoken'))
      const headers = {'X-CSRFToken': this.$cookie.get('csrftoken')}
      axios.defaults.withCredentials = true
      axios.post('http://127.0.0.1:8000/graphql', form, {headers}).then((data) => {
        this.closeDialog()
        this.$emit('photoUploaded')
      })
    }
  },
  computed: {
    showDate () {
      return !this.photo.startDate && !this.photo.endDate
    },
    showStartAndEndDate () {
      return !this.photo.date
    }
  }
}
</script>

<style scoped>
  .indent {
    margin-left: 15px;
    margin-top: 5px;
  }
</style>
