<template>
  <div class="wrapper" style="background: black;">
    <div class="header">
      Исторические фотографии и события
    </div>
    <div class="photos">
      <div class="photo"
        v-for="photo in geoPhotos"
        :key="photo.id"
        v-on:click="navigateToMapPhoto(photo.planet.id, photo.id)">
        <img v-bind:src="photo.url | absolute" />
      </div>
    </div>
    <div class="planets">
      <v-container fluid>
        <v-btn outline color="light-green" @click="navigateToMap" class="open-map">Открыть карту</v-btn>
      </v-container>
    </div>
  </div>
</template>

<script>
import planetsQuery from '../graphql/queries/planets.gql'
import photosQuery from '../graphql/queries/homePagePhotos.gql'
import { BackendUtils } from '../utils/BackendUtils'
import router from '../router'
import authMixin from '../utils/authMixin'

export default {
  filters: {
    absolute (url) {
      return BackendUtils.absolute(url)
    }
  },
  mixins: [authMixin],
  methods: {
    navigateToMap (planetId) {
      router.push({ name: 'Map' })
    },
    navigateToMapPhoto (planetId, photoId) {
      router.push({ name: 'MapPhoto',
        params: {
          photoId: photoId
        }})
    }
  },
  apollo: {
    planets: {
      query: planetsQuery
    },
    geoPhotos: {
      query: photosQuery,
      variables: {
        params: {
          take: 21
        }
      }
    }
  }
}
</script>

<style lang="scss">
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  & > .header {
    text-align: center;
    text-transform: uppercase;
    font-size: 34pt;
    color: white;
    padding: 1em 0;
    font-weight: 300;
  }

  & > .photos {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    grid-auto-rows: auto;
    align-content: baseline;

    & > .photo {
      cursor: pointer;
      transition: opacity, transform 0.2s ease, z-index 0.2s;
      opacity: 0.9;
      position: relative;
      overflow: hidden;
      z-index: 1;
      & > img {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      &:hover {
        opacity: 1;
        transform: scale(1.2);
        z-index: 2;
        transition: opacity, transform 0.2s ease;
      }
    }
  }

  & > .planets {
    display: flex;
    width: auto;
    justify-content: center;
    margin: 5em 0;

    .open-map {
      color: white;
      font-size: 28pt;
      font-weight: 200;
      padding: 1em;
      line-height: 1;
    }

    & > .planet {
      height: 16em;
      width: 16em;
      margin: 1em;
      position: relative;

      & > img {
        max-height: 10em;
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
          opacity: 1;
          max-height: 12em;
        }
      }
      & > .name {
        text-transform: uppercase;
        font-weight: 200;
        color: white;
        position: absolute;
        margin: 0 auto;
        bottom: 0;
        text-align: center;
        left: 0;
        right: 0;
        font-size: 16pt;
      }
    }
  }
}
</style>
