<template>
<div class="map-wrapper">
  <div class="photo-dialog-wrapper">
    <PhotoDialog :photoId="photoId" :onClose="closeDialog" />
  </div>
  <div class="add-photo" v-if="point.statusClick">
    <add-photo :point="point" @photoUploaded="reload"/>
  </div>
  <div class="filter">
    <date-filter :filter="filter"/>
  </div>
  <div class="map">
    <l-map :zoom.sync="zoom" :center="center" @click="click">
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      <l-marker-cluster :options="clusterOptions">
        <l-marker
          v-for="photo in geoPhotos"
          v-on:click="openDialog(photo.id)"
          :key="photo.id"
          :lat-lng="[photo.location.latitude, photo.location.longitude]">
          <l-icon
            class-name="icon-marker"
            :icon-size="iconSize"
            :icon-url="photo.urlSmall | absolute" />
          </l-marker>
        <l-marker v-if="point.statusClick" :lat-lng="[point.x, point.y]"></l-marker>
      </l-marker-cluster>
    </l-map>
  </div>
</div>
</template>

<script>
import PhotoDialog from './PhotoDialog'
import { LMap, LTileLayer, LMarker, LIcon } from 'vue2-leaflet'
import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
import planetPhotosQuery from '../graphql/queries/planetPhotos.gql'
import { BackendUtils } from '../utils/BackendUtils'
import router from '../router'
import AddPhoto from "./AddPhoto";
import authMixin from '../utils/authMixin'
import DateFilter from "./toolbar/DateFilter";

export default {
  components: {DateFilter, AddPhoto, LMap, LTileLayer, LMarker, LIcon, Vue2LeafletMarkerCluster, PhotoDialog },
  mixins: [authMixin],
  filters: {
    absolute (url) {
      return BackendUtils.absolute(url)
    }
  },
  data () {
    return {
      zoom: 13,
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      planet: {
        geoPhotos: []
      },
      point: {
        x: 0,
        y: 0,
        statusClick: false
      },
      clusterOptions: {},
      filter: {
        date: null,
        startDate: null,
        endDate: null
      }
    }
  },
  computed: {
    center () {
      const geoPhoto = this.planet.geoPhotos[0]
      return geoPhoto == null ? [0, 0] : [geoPhoto.location.latitude, geoPhoto.location.longitude]
    },
    photoId () {
      return this.$route.params.photoId
    },
    iconSize () {
      const ratio = this.zoom / 12
      return [32 * ratio, 32 * ratio]
    },
    fileChange (e) {
      console.log(e)
    },
    geoPhotos () {
      let photos = this.planet.geoPhotos
      if (this.filter.date) {
        photos = photos.filter(item => item.date.date === this.filter.date)
      }
      if (this.filter.startDate && this.filter.endDate) {
        photos = photos.filter(item => item.date.startDate > this.filter.startDate && item.date.endDate < this.filter.endDate)
      }
      return photos
    }
  },
  methods: {
    openDialog (photoId) {
      router.push({
        name: 'MapPhoto',
        params: {
          photoId: photoId
        }
      })
    },
    closeDialog () {
      router.push({ name: 'Map' })
    },
    click (data) {
      if (data.originalEvent.path != null && data.originalEvent.path.length > 10) {
        return
      }
      this.point = {
        x: data.latlng.lat,
        y: data.latlng.lng,
        statusClick: true
      }
    },
    reload () {
      this.$apollo.queries.planet.refetch()
    }
  },
  apollo: {
    planet: {
      query: planetPhotosQuery,
      variables () {
        return {
          idPlanet: 1,
          params: {}
        }
      }
    }
  }
}
</script>

<style lang="scss">
.icon-marker {
  border: 1px solid white;
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
  }
}
.map-wrapper {
  height: 100%;

  .photo-dialog-wrapper {
    height: 100%;
    position: absolute;
    z-index: 999;
  }

  .map {
    height: 100%;
  }
}

.add-photo {
  position: absolute;
  z-index: 1000;
  margin-left: 35px;
  top: 70px;
}

.filter {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 70px;
}
</style>
