<template>
  <v-navigation-drawer
    v-model="drawer"
    absolute
    temporary
    class="navbar-above-map"
  >
    <v-list class="pa-1">
      <v-list-tile avatar>
        <v-list-tile-avatar>
          <img src="">
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title></v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <v-list class="pt-0" dense>
      <v-divider></v-divider>

      <v-list-tile
        v-for="item in items"
        :key="item.title"
        :to="item.path"
      >
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'Navigation',
  props: {
    value: Boolean
  },
  data () {
    return {
      drawer: this.value,
      items: [
        { title: 'Домашняя', icon: 'home', path: '/' },
        { title: 'Карта', icon: 'web', path: '/map' },
      ]
    }
  },
  watch: {
    drawer (newVal) {
      this.$emit('input', newVal)
    },
    value (newVal) {
      this.drawer = newVal
    }
  }
}
</script>

<style scoped>
.navbar-above-map {
  z-index: 1000;
}
</style>
