<template>
  <v-card>
    <v-card-media :src="alas" height="500px" contain>
      <v-container fluid style="height: 100%" class="pa-4">
        <v-layout>
          <v-flex xs6>
            <span class="headline">Запрашиваемая страница не найдена</span>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-media>
  </v-card>
</template>

<script>

export default {
  name: 'page404',
  metaInfo: {
    title: 'Страница не найдена'
  },
  data () {
    return {
      alas: 'http://sol-kuban.ru/sites/sol-kuban.ru/files/images/404.png'
    }
  }
}
</script>
