<template>
  <v-dialog v-model="dialog" width="1200">
    <v-card>
      <v-card-title class="pt-0">
        <!--<v-spacer/>-->
        <!--{{ geoPhoto.title }}-->
        <v-spacer/>
        <v-btn icon @click="onClose" style="position: absolute; top: 0; right: 0">
          ✕
        </v-btn>
      </v-card-title>
      <v-card-text class="pt-0">
        <div style="display: flex">
          <img height="500" v-bind:src="geoPhoto.url | absolute" class="pr-3"/>
          <div style="flex: 1; text-align: left;">

            <div class="headline" style="border-bottom: 1px #777777 solid">{{ geoPhoto.title }}</div>
            <div class="px-1 pb-3">{{geoPhoto.description}}</div>
            <div class=" mx-2" style="height: 365px; max-height: 370px; overflow: auto; border-bottom: 1px #777777 solid; flex-direction: column;">
              <div
                style="width: 100%"
                v-for="(comment, index) in geoPhoto.commentSet"
                :key="index"
                class="pa-1">
                <div style="display: flex;" class="pb-1">
                  <dev style="flex: 1">
                    <span style="font-weight: bold">
                    {{comment.author.username}}
                    </span>
                    <span>{{comment.description}}</span>
                  </dev>
                  <div style="display: flex; align-items: flex-end; text-align: left;width: 40px">
                    <div @click="clickLike(comment.id)" class="abasbasbasb" style="cursor: pointer; margin-top: auto; margin-bottom: auto">
                      <v-icon v-if="!isLikedComment(comment.id)">favorite</v-icon>
                      <v-icon v-else style="color: red">favorite</v-icon>
                      <span style="padding-left: 5px">{{comment.likeSet.length}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              style="position: absolute; bottom: 0; margin-left: 10px; display: flex;
              height: 100px; max-height: 100px; width: 370px; flex-direction: column"
            >
              <div class="share-wrapper">
                <ul class="social-icons">
                  <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                  <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                  <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
                  <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                  <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
              <v-text-field label="Добавить комментарий..." v-model="newComment" @keypress.enter="sendNewComment" style="margin: 0;">
              </v-text-field>
            </div>

          </div>
        </div>

      </v-card-text>
      <!--<v-card-actions class="pa-4">-->
        <!--{{ geoPhoto.description }}-->
      <!--</v-card-actions>-->
    </v-card>
  </v-dialog>
</template>

<script>
import geoPhotoQuery from '../graphql/queries/geoPhoto.gql'
import {likeComment, sendComment} from '../../src/components/query'
import { BackendUtils } from '../utils/BackendUtils'
import authMixin from '../utils/authMixin'

export default {
  mixins: [authMixin],
  props: {
    photoId: String,
    onClose: Function
  },
  filters: {
    absolute (url) {
      return BackendUtils.absolute(url)
    }
  },
  data () {
    return {
      geoPhoto: {},
      likesList: [],
      newComment: '',
      loading: false
    }
  },
  watch: {
    photoId (val) { console.log("w: " + val) }
  },
  computed: {
    dialog () {
      console.log("c" + this.photoId)
      return this.photoId != null
    }
  },
  apollo: {
    geoPhoto: {
      query: geoPhotoQuery,
      variables () {
        return {
          idPhoto: this.photoId
        }
      },
      skip () {
        return !this.photoId

      }
    }
  },
  methods: {
    isLikedComment (commentId) {
      return this.likesList.some(it => {
        if (it === commentId) {
          return true
        }
      })
    },
    closeDialog () {
      this.dialog = false
      this.geoPhoto = {}
    },
    openDialog (photoId) {
      this.dialog = true
      this.photoId = photoId
      this.$apollo.queries.geoPhoto.refetch()
    },
    clickLike (commentId) {
      // TODO: при авторизации на карте получать список комментов в которых пользователь поставил лайк
      // Получаем выбранный коммент
      // let selectComment = this.geoPhoto.commentSet.find(el => el.id === commentId)

      // Ищем коммент в существующем списке лайков
      let indexSelectedComment = this.likesList.findIndex(el => el === commentId)

      if (indexSelectedComment !== -1) {
        this.likesList.splice(indexSelectedComment, 1)
      } else {
        // this.likesList.push(selectComment.id)
      }

      this.$apollo.mutate({
        mutation: likeComment,
        variables: {
          commentId: Number(commentId)
        }
      }).then(({data}) => {
        console.log('SUCCES')
        this.$apollo.queries.geoPhoto.refetch()
      }).catch((e) => {
        console.log('Error', e)
      })
    },
    sendNewComment () {
      console.log('SEND')
      this.loading = true
      this.$apollo.mutate({
        mutation: sendComment,
        variables: {
          body: this.newComment,
          photoId: this.geoPhoto.id
        }
      }).then(({data}) => {
        this.loading = false
        this.newComment = ''
        this.$apollo.queries.geoPhoto.refetch()
      }).catch((e) => {
        this.loading = false
        console.log('Error', e)
      })

    },

    updateRedLikes () {
      let curUserId = this.currentUser.id

      setTimeout(() => {
        this.geoPhoto.commentSet.forEach(comment => {
          if (comment.likeSet.length > 0) {
            if (comment.likeSet.find(el => el.user.id === String(curUserId))) {
              this.likesList.push(comment.id)
            }
          }
        })
      }, 50)
    }
  },
  watch: {
    geoPhoto: function (val) {
      console.log('@$#@#@#!@#!#!@#!@#', val)
      this.updateRedLikes()
      // let curUserId = this.currentUser.id
      //
      // setTimeout(() => {
      //   val.commentSet.forEach(comment => {
      //     if (comment.likeSet.length > 0) {
      //       if (comment.likeSet.find(el => el.user.id === String(curUserId))) {
      //         this.likesList.push(comment.id)
      //       }
      //     }
      //   })
      // }, 50)

    }
  }
}
</script>

<style lang="scss">
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.pa-1 {
  padding: 0.5rem;
}
.gary {
  background-color: #ededed
}
.abasbasbasb {
  display: flex;
  align-items: center;
}

.share-wrapper {

  .fa {
    color: black;
  }

    font-family: 'Lato', sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
  a {
      text-decoration: none;
      color: black;
  }
  p > a:hover{
      color: #d9d9d9;
      text-decoration:  underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin:  1% 0 1% 0;
  }
  ._12 {
      font-size: 1.2em;
  }
  ._14 {
      font-size: 1.4em;
  }
  ul {
      padding:0;
      list-style: none;
  }
  .footer-social-icons {
      width: 350px;
      display:block;
      margin: 0 auto;
  }
  .social-icon {
      color: black;
  }
  ul.social-icons {
      margin-top: 14px;
  }
  .social-icons li {
      vertical-align: top;
      display: inline;
      height: 100px;
      margin: 0 17px;
  }
  .social-icons a {
      color: #fff;
      text-decoration: none;
  }
  .fa-facebook {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-facebook:hover {
      background-color: #3d5b99;
  }
  .fa-twitter {
      padding:10px 12px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-twitter:hover {
      background-color: #00aced;
  }
  .fa-rss {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-rss:hover {
      background-color: #eb8231;
  }
  .fa-youtube {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-youtube:hover {
      background-color: #e64a41;
  }
  .fa-linkedin {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-linkedin:hover {
      background-color: #0073a4;
  }
  .fa-google-plus {
      padding:10px 9px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-google-plus:hover {
      background-color: #e25714;
  }
}
</style>
