<template>
  <v-container grid-list-md>
    <v-layout row justify-center>
      <v-flex class="" style="max-width: 585px">
        <h2>Вход</h2>
        <form>
          <v-text-field
            v-model="username"
            :counter="10"
            label="Логин"
            required
          ></v-text-field>
          <v-text-field
            v-model="password"
            :counter="18"
            type="password"
            label="Пароль"
            required
          ></v-text-field>
          <v-btn @click="clear" color="blue lighten-1" style="color: black;" depressed flat :loading="loading">Отмена</v-btn>
          <v-btn @click="submit" color="green lighten-1" style="color: white;" depressed :loading="loading">Войти</v-btn>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import gql from 'graphql-tag'
import auth from '../../utils/auth'

export default {
  name: 'Register',
  data: () => ({
    username: '',
    password: '',
    loading: false,
    auth: auth
  }),
  methods: {
    submit () {
      this.loading = true
      this.$apollo.mutate({
        mutation: gql`
        mutation ($username: String!, $password: String!) {
          login (username: $username, password: $password) {
            user {
              id
              username
            }
            success
          }
        }
      `,
        variables: {
          username: this.username,
          password: this.password
        }
      }).then(({data}) => {
        if (data.login.success) {
          this.$emit('loggedIn', data.login.user)
        } else {
          this.$emit('fail')
        }
        this.loading = false
      })
    },
    clear () {
      this.login = ''
      this.password = null
      this.$emit('clear')
    },
    getCurrentUser () {
      this.$apollo.query({
        query: gql`{
          currentUser {
            id
            username
          }
        }`
      }).then(({data}) => {
        this.user.id = data.currentUser.id
        this.user.username = data.currentUser.username
      })
    }
  }
}
</script>

<style scoped>

</style>
