<template>
  <v-container grid-list-md>
    <v-layout row justify-center>
      <v-flex class="" style="max-width: 585px">
        <h2>Регистрация</h2>
        <form>
          <v-text-field
            v-model="username"
            :counter="10"
            label="Логин"
            required
          ></v-text-field>
          <v-text-field
            v-model="password"
            :counter="18"
            label="Пароль"
            type="password"
            required
          ></v-text-field>
          <v-btn @click="clear" color="blue lighten-1" style="color: black;" depressed flat :loading="loading">Отмена</v-btn>
          <v-btn @click="submit" color="green lighten-1" style="color: white;" depressed :loading="loading">Зарегистрироваться</v-btn>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import gql from 'graphql-tag'
import auth from '../../utils/auth'

export default {
  name: 'Register',
  data: () => ({
    username: '',
    password: '',
    loading: false,
    auth: auth
  }),
  methods: {
    submit () {
      this.loading = true
      this.$apollo.mutate({
        mutation: gql`
         mutation ($username: String!, $password: String!) {
          register (username: $username, password: $password) {
            newUser {
              id
              username
              isSuperuser
            }
            loggedIn
          }
        }
        `,
        variables: {
          username: this.username,
          password: this.password
        }
      }).then(({data}) => {
        this.loading = false
        if (data.register.loggedIn) {
          this.loading = false
          this.$emit('registered', data.register.newUser)
        } else {
          this.$emit('fail')
        }
      }).catch(e => {
        this.loading = false
        this.$emit('fail')
      })
    },
    clear () {
      this.login = ''
      this.password = null
      this.$emit('clear')
    }
  }
}
</script>

<style scoped>

</style>
