<template>
  <div id="app">
    <navigation
      v-model="nav"
    />
    <toolbar
      v-if="toolbarVisible"
      v-model="nav"
    />
    <v-container style="padding:0; margin:0;" fluid>
      <div class="content">
        <router-view/>
      </div>
    </v-container>
  </div>
</template>

<script>
/* eslint-disable */
import Toolbar from './components/toolbar/Toolbar'
import Navigation from './components/Navigation'
import router from "./router"

export default {
  name: 'App',
  components: {Toolbar, Navigation},
  computed: {
    toolbarVisible () {
      return this.$route.name != 'Home'
    }
  },
  data () {
    return {
      nav: false
    }
  }
}
</script>

<style lang="scss">
@import 'normalize.css';
@import 'vuetify/dist/vuetify.min.css';
// @import '~material-design-icons-iconfont/src/material-design-icons';

body, html {
  height: 100%;
  overflow: hidden;
}

#app {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    height: 100%;
  }
}

button.flat {
  position: relative;
  vertical-align: top;
  width: 100%;
  padding: 1rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #27ae60;
  border: 0;
  border-bottom: 2px solid #219d55;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
}
button.flat:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
</style>
